<table>
    <tbody>
        <tr>
            <td>ID</td>
            <td>:</td>
            <td> <%= user_array._id %> </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td><%= user_array.name %></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>:</td>
            <td><%= user_array.phone %></td>
        </tr>
        <tr>
            <td>city</td>
            <td>:</td>
            <td><%= user_array.city %></td>
        </tr>
        <tr>
            <td>Email</td>
            <td>:</td>
            <td><%= user_array.email %></td>
        </tr>
    </tbody>
</table>